# Python + NetworkX Tutorial

### Environment


There are four ways to run python code:


#### put your code in a file (say program.py) and run python program.py


This is least desirable when you are first writing your code
Later, once your code is debugged, this is the way to go


#### type your code into the python interpreter
This allows you to interact with the interpreter and fix mistakes as they happen
However you have to type everything by hand


#### type, cut/paste, or run your code in ipython
This is a good method
Allows you to cut/paste from a file you are working on


#### run ipython in a browser, called jupyter notebook
This is even better
All the advantages of ipython plus interleaved documentation and graphical output
That is what these slides are in

### Python 2 vs Python 3

There are two versions of Python. In this course, you'll be asked to use Python 2.7. In case you're used to 3, there are two important differences to point out:


In Python 2, integer division does not return a floating point value: 3/5 = 0


In Python 3, integer division does return a floating point value:

In [1]:
3/5

0

In Python 2, the print statement does not use parentheses:
print 'a string'

In Python 3, print is a function and it uses parentheses:

In [3]:
print('a string')

a string

### Hello World

In [4]:
a = 1 in [1,2]
print a

True

In [5]:
a = 23 + 45.676 * 34 / 34
print a

68.676

In [6]:
a = float(5)
print a

5.0

### Strings, Indexing and Concatenation

In [7]:
# "\""
# '"'
s = "abc"
s = 'abc'
print s
# s[-2]
# s[0]
# s[0][0] + 'bc' + '123'

abc

### Lists and Tuples, Appending
List are used when an array grows in size. Tuples are typically used in cases when an immutable of sequence of objects is required.

In [8]:
lst = [1, 2, 3, "hello"]
tup = (2, 3, 5, 5, "ge")

lst[2] = 4

print lst
print tup

[1, 2, 4, 'hello']
(2, 3, 5, 5, 'ge')

In [9]:
a = []
a = [2,3,4]
print a

[2, 3, 4]

In [10]:
# Try to assign to a tuple value -- you'll get an error. Tuples are immutable!

tup[2] = 4

TypeError: 'tuple' object does not support item assignment

In [11]:
lst.append('world')
print lst

[1, 2, 4, 'hello', 'world']

In [12]:
tup.append('ala')

AttributeError: 'tuple' object has no attribute 'append'

### List slicing

You can "slice" lists to return contiguous sub-lists.

In [13]:
print lst
print lst[1]
print lst[-2]
print lst[:3]
print lst[3:5]
print lst[-2:]

[1, 2, 4, 'hello', 'world']
2
hello
[1, 2, 4]
['hello', 'world']
['hello', 'world']

### Queues and Stacks
List API supports append() and pop() methods.

In [14]:
stack = [1,2,3]
stack.pop()
print stack.pop()
print stack
stack.append(4)
print stack

2
[1]
[1, 4]

In [15]:
queue = []
queue.append(1)
queue.append(2)
queue = queue[1:]

print queue

[2]

Lists are less efficient for queue operations, but they work. Another option is:

In [16]:
from collections import deque

queue = deque()
queue.append(1)
queue.append(2)
print queue.popleft()

print list(queue)

1
[2]

In [17]:
from collections import deque

queue = deque(['a','b','c'])
print queue.popleft()

a

### If statements
There's nothing new about them.

In [18]:
if 2 == 3:
    print "Yay!"
elif 5 + 6 != 11:
    print 11
elif "being" in "the world":
    print "dasein"
else:
    print "Default"

Default

### While and For loops

In [19]:
i = 10
while i > 0:
    print "Hello"
    i -= 1

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [20]:
for element in lst:
    print element

1
2
4
hello
world

In [21]:
for i in range(0, len(lst)):
    print lst[i]

1
2
4
hello
world

In [22]:
for i in range(0,10,2):
    print i

0
2
4
6
8

### The 'in' keyword

In [23]:
print 1 in [1,2,3]
print 't' in 'Saitama'
print 'a' not in ['b','c','d']

True
True
True

### Sets
Lists and sets both support the "in" keyword. However, lists naturally take O(n) time for containment operations. **Lists will be just fine to use for this class**, but you should also be aware of an alternative for your future work in Python.

In [24]:
def find_unique_elements(arr):
    unique = []
    for item in arr:
        if item not in unique:
            unique.append(item)
    return unique

find_unique_elements([1,2,3,3,3,4,5])

[1, 2, 3, 4, 5]

### [] vs. {}
Since unique is a list, this will technically take O(n) time for each "in" operation. The following set implementation reduces this to O(1):

In [25]:
def find_unique_elements(arr):
    unique = set()
    for item in arr:
        if item not in unique:
            unique.add(item)
    return unique

find_unique_elements([1,2,3,3,3,4,5,1])

{1, 2, 3, 4, 5}

### Files and reading

In [26]:
f = open('./contiguous-usa .dat')
print f.read()

AL FL
AL GA
AL MS
AL TN
AR LA
AR MO
AR MS
AR OK
AR TN
AR TX
AZ CA
AZ NM
AZ NV
AZ UT
CA NV
CA OR
CO KS
CO NE
CO NM
CO OK
CO UT
CO WY
CT MA
CT NY
CT RI
DC MD
DC VA
DE MD
DE NJ
DE PA
FL GA
GA NC
GA SC
GA TN
IA IL
IA MN
IA MO
IA NE
IA SD
IA WI
ID MT
ID NV
ID OR
ID UT
ID WA
ID WY
IL IN
IL KY
IL MO
IL WI
IN KY
IN MI
IN OH
KS MO
KS NE
KS OK
KY MO
KY OH
KY TN
KY VA
KY WV
LA MS
LA TX
MA NH
MA NY
MA RI
MA VT
MD PA
MD VA
MD WV
ME NH
MI OH
MI WI
MN ND
MN SD
MN WI
MO NE
MO OK
MO TN
MS TN
MT ND
MT SD
MT WY
NC SC
NC TN
NC VA
ND SD
NE SD
NE WY
NH VT
NJ NY
NJ PA
NM OK
NM TX
NV OR
NV UT
NY PA
NY VT
OH PA
OH WV
OK TX
OR WA
PA WV
SD WY
TN VA
UT WY
VA WV

### Readline

In [27]:
contents = []
# with open() as f is equivalent to f=open(), but f is limited in scope to the 'with' block
with open('contiguous-usa .dat') as f:
    while True:
        line = f.readline().strip()

        if line == "":
            break
            
        contents.append(tuple(line.split(' ')))

print contents

[('AL', 'FL'), ('AL', 'GA'), ('AL', 'MS'), ('AL', 'TN'), ('AR', 'LA'), ('AR', 'MO'), ('AR', 'MS'), ('AR', 'OK'), ('AR', 'TN'), ('AR', 'TX'), ('AZ', 'CA'), ('AZ', 'NM'), ('AZ', 'NV'), ('AZ', 'UT'), ('CA', 'NV'), ('CA', 'OR'), ('CO', 'KS'), ('CO', 'NE'), ('CO', 'NM'), ('CO', 'OK'), ('CO', 'UT'), ('CO', 'WY'), ('CT', 'MA'), ('CT', 'NY'), ('CT', 'RI'), ('DC', 'MD'), ('DC', 'VA'), ('DE', 'MD'), ('DE', 'NJ'), ('DE', 'PA'), ('FL', 'GA'), ('GA', 'NC'), ('GA', 'SC'), ('GA', 'TN'), ('IA', 'IL'), ('IA', 'MN'), ('IA', 'MO'), ('IA', 'NE'), ('IA', 'SD'), ('IA', 'WI'), ('ID', 'MT'), ('ID', 'NV'), ('ID', 'OR'), ('ID', 'UT'), ('ID', 'WA'), ('ID', 'WY'), ('IL', 'IN'), ('IL', 'KY'), ('IL', 'MO'), ('IL', 'WI'), ('IN', 'KY'), ('IN', 'MI'), ('IN', 'OH'), ('KS', 'MO'), ('KS', 'NE'), ('KS', 'OK'), ('KY', 'MO'), ('KY', 'OH'), ('KY', 'TN'), ('KY', 'VA'), ('KY', 'WV'), ('LA', 'MS'), ('LA', 'TX'), ('MA', 'NH'), ('MA', 'NY'), ('MA', 'RI'), ('MA', 'VT'), ('MD', 'PA'), ('MD', 'VA'), ('MD', 'WV'), ('ME', 'NH'), ('MI', 'OH'), ('MI', 'WI'), ('MN', 'ND'), ('MN', 'SD'), ('MN', 'WI'), ('MO', 'NE'), ('MO', 'OK'), ('MO', 'TN'), ('MS', 'TN'), ('MT', 'ND'), ('MT', 'SD'), ('MT', 'WY'), ('NC', 'SC'), ('NC', 'TN'), ('NC', 'VA'), ('ND', 'SD'), ('NE', 'SD'), ('NE', 'WY'), ('NH', 'VT'), ('NJ', 'NY'), ('NJ', 'PA'), ('NM', 'OK'), ('NM', 'TX'), ('NV', 'OR'), ('NV', 'UT'), ('NY', 'PA'), ('NY', 'VT'), ('OH', 'PA'), ('OH', 'WV'), ('OK', 'TX'), ('OR', 'WA'), ('PA', 'WV'), ('SD', 'WY'), ('TN', 'VA'), ('UT', 'WY'), ('VA', 'WV')]

### strip() function

In [28]:
# " ".strip()
"Hello, World!   \n".strip()

'Hello, World!'

### split(char) function

In [29]:
s = 'a b c d'
s.split(' ')

['a', 'b', 'c', 'd']

In [30]:
s = "6J Pheidas, lieutenant of MT"
print s.split()[0]
s = '13:ZE;PO,AJ,AX;PO,TU,LT,PB,9K,7S,MR,AL;GS,HT;DP,MR;TU,48;48,49;48,PR;HT,TU,9O'
for edgeset in s.split(':')[1].split(';'):
    print edgeset.split(',')

6J
['ZE']
['PO', 'AJ', 'AX']
['PO', 'TU', 'LT', 'PB', '9K', '7S', 'MR', 'AL']
['GS', 'HT']
['DP', 'MR']
['TU', '48']
['48', '49']
['48', 'PR']
['HT', 'TU', '9O']

### sorted(list) function

In [31]:
print sorted([4, 2, 3])

print sorted(['PO', 'TU', 'LT', 'PB', '9K', '7S', 'MR', 'AL'])

sorted([45678, "abc"])

sorted([1.0, 1])

[2, 3, 4]
['7S', '9K', 'AL', 'LT', 'MR', 'PB', 'PO', 'TU']

[1.0, 1]

### Lambda functions
Python supports the creation of anonymous functions (i.e. functions that are not bound to a name) at runtime, using a construct called lambda.

In [32]:
def f(x):
    return x**2
f(8)

64

In [33]:
f = lambda x : x**2
f(8)

64

## Graph & NetworkX

### Initialization

In [34]:
import networkx as nx

G = nx.Graph()
G.add_nodes_from(['a', 'b', 'c', 'd'])
G.add_edges_from([('a', 'b'), ('b', 'c'), ('c', 'd'), ('d', 'a')])

### nodes() function

In [35]:
print G.nodes()
print sorted(G.nodes())

['a', 'c', 'b', 'd']
['a', 'b', 'c', 'd']

### edges() function

In [36]:
G.edges()

EdgeView([('a', 'b'), ('a', 'd'), ('c', 'b'), ('c', 'd')])

### neighbors() function

In [38]:
for i in G.neighbors('a'):
    print(i)

b
d

## THE END